@import 'janhavi_utilities.css';
:root{
    --primary:#3DCFD3;
    --secondary:#070606;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --blue:#00032B;
    --violet:#d5e7f1;
}
body{
    font-family: 'Poppins',sans-serif;
    overflow-x: hidden;
    width:100%;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: var(--blue);
    padding-bottom: 5rem;
}
.container{
    max-width:1125px;
    padding:0 15px;
    margin:0 auto;
}
@media (min-width: 576px){
    .container{
        max-width:540px;
    }
}
@media (min-width: 768px){
    .container{
        max-width:720px;
    }
}
@media (min-width: 992px){
    .container{
        max-width:960px;
    }
}
@media (min-width: 1200px){
    .container{
        max-width:1152px;
    }
}
header nav {
    padding:0.5rem 0;
    background-color: var(--blue);
}
header nav .branding{
    color: var(--pure);
    text-decoration: none;  
    font-size: large; 
    font-weight: bolder;
    padding-right: 1rem;
}
header nav .branding h1 span{
    color:var(--primary);
}
header .a button{
    text-decoration: none;
    color: var(--primary)
}
header nav .left .branding{
    color:var(--pure);
}
header nav .left a{
    color:var(--pure);
    text-decoration: none;
    margin-left: 2.5rem;
    text-transform: uppercase;
    transition: all .3s ease;
}
header nav .left input{
    margin-left: 2.5rem;
    padding: 1px;
    margin-top: 2px;
    margin-left: 2.5rem;
    border: none;
    font-size: 18px;
}
header nav .left a:hover{
    color:var(--primary);
}
header nav .branding{
    margin-right:1rem;
}
header nav .right a button{
     color:var(--pure);
}
header nav .right a button img{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
header nav .right a button:hover{
    color:var(--primary);
}
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    display: inline-block;
    background-color: transparent;
  }
    /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--violet);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
    top:100%
  }
   /* Links inside the dropdown */
   .dropdown-content a {
    color: var(--dark);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: transparent;
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
    }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      background-color: transparent;
    }

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.hero{
    padding:2rem 0;
}
.hero img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.hero .right button{
    color: var(--pure);
    padding-top: 0.3rem ;
    padding-bottom: 0.3rem;
}
.hero .right{
    color:var(--pure)
}
.hero .right h6{
    font-size: 2rem;
    color:var(--pure);
    margin-bottom:0.5rem;
    margin-top: 0rem;
}
.hero .right p{
   line-height: 0.5;
   margin-bottom: 0.7rem;
}
.hero .right p h3{
    font-size: 2rem;
    color:var(--pure);
    margin-bottom:0.5rem;
    margin-top: 0rem;
}
section.add_project{
    background: var(--light); 
    text-align: center;
    padding: 3rem 0 ;
}
section.add_project h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 2rem;
}
footer{
    background: var(--blue);
    text-align: center;
    color:var(--pure);
}
.site-main-wrapper{
    position: relative;
}

.hamberger{
    display: none;
    position: absolute;
    top:40px;
    right:40px;
    z-index:11;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.hamberger img{
    width:35px;
}

.mobile-nav{
    position: fixed;
    top:0;
    left:0;
    z-index:1001;
    background: var(--violet);
    width:60%;
    height:100%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-101%);
    transition: all .5s ease-in-out;
}

.open{
    transform: translateX(0);
}

.times{
    position: fixed;
    top:30px;
    right:30px;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.times img{
   width:30px;
}

.mobile-nav ul img{
    background-color: black;
    width: 200px;
    height: 50px;
}

.mobile-nav ul .logo a{
    color: var(--pure);
    text-decoration: none;  
    font-size: large; 
    font-weight: bolder;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #00032B;
}
.mobile-nav ul .logo a span{
    color: var(--primary);
}
.mobile-nav ul{
   list-style-type: none;
}

.mobile-nav ul li a{
    color:var(--secondary);
    text-decoration: none;
    font-size: 2rem;

}

#btnScrollToTop{
    z-index: 11;
    position: fixed;
    right:10px;
    bottom:10px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary);
    border:none;
    outline:none;
    cursor: pointer;
    display:none;
}
#btnScrollToTop:active{
    background-color: var(--ternary);
}
@media (max-width:1200px){
    header #main-nav{
        display :none;
    }
    .hamberger{
        display: block;
    }
    .hero{
        padding-top: 10rem;
    }
}

@media (max-width:576px){
    .hero{
        flex-direction:column;
    }
    .hero.right{
        position: absolute;
        top:260px;
        padding-left:1rem;
        padding-right:1rem;

    }
    .mobile-nav{
        width:80%;
    }
    .about .right{
        text-align: center;
        margin-top: 2rem;
    }
    .about .right .social{
        justify-content: center;
    }
    .section-heading{
        padding-top: 2rem;
    }

}
@media (max-width:330px){
    .mobile-nav{
        width:95%;
    }
}

