body{
    background-color: #00032B;
    color:white;
    font-family: 'Bree Serif', 'serif';
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
}
.container .header h2{
    text-align: center;
    font-size: 30px;
}

.container{
    margin-left: 500px;
    margin-right: 500px;
    
}

.container label {
    text-align: left;
    font-size: 18px;
    margin-bottom: 5px;
}

.container .form-control input {
    text-align: left;
    margin-top:5px;
    margin-bottom:15px;
    width:550px;
    height:30px;
    border:1px solid white;
    border-radius: 2px;
    font-size: 14px;
}

.container .form-control textarea {
    text-align: left;
    margin-top:5px;
    margin-bottom:15px;
    width:550px;
    height: 60px;
    overflow:auto;
    resize: none;
    border:1px solid white;
    border-radius: 2px;
    font-size: 14px;
}


.container .form-control select{
    text-align: left;
    margin-top:5px;
    margin-bottom:15px;
    min-height: 30px;
    max-height: 100px;
    width:550px;
    font-size: 14px;
}

.container .form-control select option{
    text-align: left;
    border:none;
    outline:0px;
}


button{
 text-align: center;
 background-color:green;
 color:white;
 border-radius: 3px;
 height: 30px;
 font-size: 14px;
 justify-content: space-between;
 display: inline;
 width: 30%;
}

.div2{
    font-size: 18px;
}
